@using BudgetBook.Data
@inject BudgetBookService budgetBookService
@inject IJSRuntime JSRuntime
@inject BlazorApp1.Repository.ITodoRepository todoRepository
@inject NavigationManager navigationManager

<EditForm Model="newTodo" OnValidSubmit="CreateEntry">
    <DataAnnotationsValidator/>
    <div class="d-flex justify-content-center mb-2">
        <div class="w-100 ">
            @*<label class="control-label">Description</label>*@
            <InputText class="form-control" @bind-Value="@newTodo.Description" />
            <ValidationMessage For="@(() => newTodo.Description)" />
        </div>
        @*<div class="col">
            <label class="control-label">Amount</label>
            <input class="form-control" @bind="@newEntry.Amount" />
        </div>*@ 
        <div class="mx-2">
            <button class="btn btn-primary " type="submit">Add</button>
        </div>
    </div>
    
       
    
</EditForm>

@code {
    Todo newTodo = new Todo();
    protected async Task CreateEntry()
    {
        //await budgetBookService.AddEntry(newTodo);
        //Console.WriteLine("add newEntry =" + newTodo.Description);
        //await JSRuntime.InvokeVoidAsync("refreshPage");
        try
        {
            await todoRepository.CreateTodo(newTodo);
            navigationManager.NavigateTo("todo");
        }
        catch (Exception ex)
        {
            //...
            Console.WriteLine("newTodo = " + newTodo.Description);
            Console.WriteLine("Error = " + ex.Message);
        }
    }
}

@*<form>
    <div class="row">
        <div class="col">
            <label class="control-label">Description</label>
            <input class="form-control" @bind="@newEntry.Description" />
        </div>
        <div class="col">
            <label class="control-label">Amount</label>
            <input class="form-control" @bind="@newEntry.Amount" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary my-2" @onclick="@CreateEntry">Add</button>
        </div>
    </div>
</form>*@

@*@code {
    Todo newTodo = new Todo();
    protected async void CreateEntry()
    {
        await budgetBookService.AddEntry(newTodo);
        Console.WriteLine("add newEntry =" + newTodo.Description);
        await JSRuntime.InvokeVoidAsync("refreshPage");
    }
}*@

